<div class="container">
<article id="about_article">
  <h2 id="about_title" class="centered_headers">About Doggerel Blog</h2>

        <p><strong>Doggerel</strong> is poetry that is irregular in rhythm and in rhyme, often deliberately for burlesque or comic effect. The word is derived from the Middle English "dogerel,"" probably a diminutive of "dog."</p>

        <p>Appearing since ancient times in the literatures of many cultures, it is characteristic of nursery rhymes and children's song. Less warmly, it's also used derisively to mean "verse or words that are badly written or expressed."</p>

        <p>Whether you write badly, comedically, childishly or any variation of the three, we warmly welcome you to share your awful poetry on this site.</p>
</article>
</div>


