<div class="container">
<article id="about_article">
  <h2 id="about_title">About Doggerel Blog</h2>

  <h3>What's this site about?</h3>

    <p>This is a forum for writing and sharing "bad" poetry.</p>

    <p>Uh.. Okay. Why?</p>

    <p>I miss the fun, light poetry I enjoyed as a child. The silly, irreverent rhyming ones. As I got older, teachers told me that those types of poems are bad and I stopped reading and writing them because I was ashamed. Then I got even older and kinda stopped caring.</p>

    <p>Doggerel Blog is dedicated to writing and sharing poems for fun, without caring whether or not other people think they're good.</p>

    <p>Whether you write badly, comedically, childishly or any variation of the three, we warmly welcome you to share your awful poetry on this site.</p>

  <h3>What's the deal with the weird name?</h3>

    <p>The word <strong>doggerel</strong> is an archaic term that literally means "bad poetry." It's derived from the Middle English "dogerel," which is probably a diminutive of "dog," and describes poetry that is irregular in rhythm and in rhyme, often deliberately for burlesque or comic effect.</p>

    <p>Appearing since ancient times in the literatures of many cultures, doggerel is characteristic of nursery rhymes and children's song. Less warmly, it's also used derisively to mean "verse or words that are badly written or expressed."</p>

  <h3>How should I use this site?</h3>
    <p>Use this site to goof off, blow off steam, warm up, practice, or brainstorm. It's intended to be fun and silly.</p>
    <p>Please don't use this site to bully or be intentionally hurtful or needlessly offensive. Just like, don't be a dick, you know?</p>


</article>
</div>


