/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: #FFF3E9;
}

#logo_div {
  background-color: #FFDCBD;
}

h1 {
  color: #D15513;
}

p {
  font-family: 'Helvetica', 'Arial', sans-serif;
}

.main_logo {
  width: 100%;
}

.navbar {
  background: #FFA453;
}

#bs-example-navbar-collapse-1 a {
  color: white;
  font-weight: bold;
}

.nav li:hover {
  background: grey;
}

.centered_headers {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;

}

article {
  margin: 0 auto;
  background: white;
  margin-bottom: 10px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
  width: 50%;
}

#welcome_poems {
  width: 90%;
  padding: 15px;
}

#two {
  margin-bottom: 50px;
}

.navbar_brand_logo {
  width: 50px;
  margin-left: 50px;

}

.profile_header {
  text-align: center;
  margin-bottom: 30px;
}

.profile_pic {
  border: 2px solid black;
  border-radius: 10px;
}

hr {
  border: 1px solid black;
  width: 100%;
}

#about_title {
  text-decoration: underline;
}

#welcome_main {
  margin-top: 50px;
}

#about_article {
  margin-top: 30px;
  padding: 30px;
  width: 60%;
}

#user_dashboard {
  background: white;
  padding: 15px;
  border: 2px solid black;
  border-radius: 10px;
}

.dashboard_pic {
  width: 60%;
  border: 2px solid black;
  border-radius: 10px;
}

#user_list {
  background-color: white;
  padding: 15px;
  border: 2px solid black;
  border-radius: 10px;
}

#more_poets {
  margin: 0;
  width: 90%;
}

#new_poem {
  text-align: center;
}

#new_poem a {
  padding: 10px;
  width: 90%;
  font-weight: bold;
  color: white;
  background: #FFA453;
  margin-bottom: 20px;
  border: 2px solid black;
  display: inline-block;
  border-radius: 10px;
}

#new_poem a:hover {
  text-decoration: none;
  background-color: #FFB472;
  color: #FFF3EA;
}

#upvote a {
  color: white;
  padding: 10px;
  background-color: #FFA453;
  border: 2px solid black;
  border-radius: 10px;
  font-weight: bold;
  display: block;
  width: 100px;
  margin: 10px 0;
}

#upvote a:hover {
  text-decoration: none;
  background-color: #FFB472;
}

#count {
  margin-bottom: 20px;
  font-weight: bold;
}














@media only screen and (max-width: 992px) {



#user_dashboard {
  display: none;
}

#about_article {
  width: 80%;
}

#user_list {
  display: none;
}

#welcome_poems {
  width: 100%;
}

#new_poem a {
  width: 100%;
}

#welcome_poems h3 {
  font-size: 3em;
}

#welcome_poems h4 {
  font-size: 2em;
}

#welcome_poems p {
  font-size: 1.75em;
}

}







