<%= render "layouts/nav" %>

  <div class="container">

    <div class="row">

      <div class="col-md-1">

      </div>

      <div class="col-md-10">
        <%= yield %>
      </div>

      <div class="col-md-1">

      </div>

      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
    </div><!-- end of first row -->

    <div class="row">

      <div class="col-md-2">

      </div>
      <div id="two" class="col-md-8">



      </div>
      <div class="col-md-2">

      </div>

    </div><!-- end of second row -->



  </div><!-- end of container -->
</body>
</html>
